<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Movie Recommendation App</title>
  </head>

  <body>

    <h2 class = "h2" style = "text-align:center; margin-top:1%;margin-bottom:1%;">Movie Recommendation App</h2>
    <h4 class = "h3" style = "text-align:right; margin-top:1%; margin-right:10%;">Hi {{session.username}}</h4>
    <br/>
    <a href="{{ url_for('logout') }}" style="float: right; margin-right:10%;">Logout           </a>
    <br/>
    <h5 style="text-align:center; color:red">{{er}}</h5>
    <div class="p-3 border bg-light" style="display: flex;justify-content: center;align-items: center;">
    <h3 class = "h3" style = "text-align:center; padding:5px;">Rate a movie</h3>
    <br/>
    <hr/>
    <form method = "post" action = "/index"> 
            <label> Select movie&emsp;</label>
              <!-- <br/> -->
              <select id="movie" name="movie">
               {% for st in movie_names %}
                <option value="{{st}}">{{st}}</option>
               {% endfor %}
                <option value="other">Others</option>
                <!-- <option value="sensex">Sensex</option> -->
              </select>
              <br/>

            <label>Rating&emsp;</label>
              <!-- <br/> -->
              <select id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <br/>
            <a href="new_movie">Movie not in the list</a>
            <br/>
            <input type="submit" style = "margin:auto;"> </input>              

    </form>
    </div>
    

    <div class = "container " style="max-width:100%;p-4">
      <div class = "row gx-5">

        <div id = "form-sidebar" class = "col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 " style = "text-align:center"> 
        <div class = "bg-light p-1">
        <h4 class = " h4 m-1">Watched Movies</h4>
          <hr/>
          <table style="width:100%">
            <tr>
              <th>Name</th>
              <th>Rating</th>
            </tr>
            {% for mov in watched_movie %}
              <tr>
              <td>{{mov['movie']}}</td>
              <td>{{mov['rating']}}</td>
              </tr>
            {% endfor %}              
                        
          </table>

<!--           <form method = "post" action = "/"> 

            <label> Select Stock&emsp;</label>
              <br/>
              <select id="stock" name="stock">
               {% for st in movie_names %}
                <option value="{{st}}">{{st}}</option>
               {% endfor %}
                <option value="FD">FD</option>
                <option value="sensex">Sensex</option>
               </select>
              <br/>

            <label> Select Start Date &emsp;</label>
            <input type="Date" name="Date_b"> </input>
            <br/>
            <label> Select End Date &emsp;</label>
            <input type="Date" name="Date_e"> </input>
            <br/> 

            <label> Select Cycle &emsp;</label>                       
              <select id="period" name="Period">
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
              </select>
            <br/>
            <label> Enter Amount &emsp;</label>                       
            <input type="number" name="Amount"> </input>
            <br/> 
            <label> Color &emsp;</label>                       
            <input type="text" name="color"> </input>
            <br/>                        
            <input type="submit"> </input>

          </form> -->
        </div>
        </div>

        <div id = "form-sidebar" class = "col-12 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 " style = "text-align:center"> 
        <div class = "bg-light p-1">

        <h4 class = " h4 m-1">Recommended Movies</h4>
          <hr/>
          <table style="width:100%">
            <tr>
              <th>Name</th>
            </tr>
           {% for mo in movie_list %}
            <tr>
              <td>{{mo}}</td>
            </tr>           
            <!-- <option value="{{st}}">{{st}}</option> -->
           {% endfor %}            
          </table>

          {{chart_code|safe}}
        </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    {{demo_script_code|safe}}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>